[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
openai = "*"
scikit-learn = "*"
pandas = "*"
flask = "*"
tqdm = "*"
notebook = "==7.1.2"
ipywidgets = "*"
psycopg2-binary = "*"
python-dotenv = "*"

[dev-packages]
hyperopt = "*"
requests = "*"

[requires]
python_version = "3.10"
